.layui-form{
    width: 400px;
    height: 320px;
    background-color:#e7e7e7;
    margin: auto;
    position: absolute;
    top: 0;right: 0;left: 0;bottom: 0;
}
.layui-form-label{
    width: 80px;
}
.layui-form-item{
    margin-top: 8px;
}
.usernameDiv{
    padding-top: 40px;
}
.rpdiv{
    margin-left: 70px;
}
.login-btn{
    width: 150px;
    margin-top: 15px;
}
.loginDiv{
    margin: 0 auto; text-align: center
}
.forgetPassword{
    margin-top: 15px;
    margin-left: 70px;
    font-size: 15px;
}
.register{
    margin-top: 15px;
    padding-left: 150px;
    font-size: 15px;
}
.codecard{
    font-size: 20px;
    font-style: oblique;
}