.layui-form{
    width: 450px;
    height: 510px;
    background-color:#e7e7e7;
    margin: auto;
    position: absolute;
    top: 0;right: 0;left: 0;bottom: 0;
}
.layui-form-label{
    width: 100px;
}
.layui-form-item{
    margin-top: 8px;
}
.usernameDiv{
    padding-top: 40px;
}
.register-btn{
    width: 150px;
    margin-top: 25px;
}
.registerDiv{
    margin: 0 auto; text-align: center
}
.register{
    margin-top: 15px;
    padding-left: 150px;
    font-size: 15px;
}
.codecard{
    font-size: 15px;
    width: 100px;
    height: 35px;
}
.loginUrl{
    margin-left: 310px;
}