.colorDiv{
    height: 5px;
}
.layui-body{
    padding: 20px;
    background-color: #E6E6E6;
}
#imageLabelContainer{
    padding: 10px;
    bottom: 0px;
}
#customPositionDiv{
    margin-left: 20px;
}
.imgStyle{
    position: relative;
    width: 1450px;
    height: 800px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}