.layui-body{
    padding: 20px;
    background-color: #E6E6E6;
}
#imageLabelContainer{
    padding: 10px;
    bottom: 0px;
}
#customPositionDiv{
    margin-left: 20px;
}
.imgStyle{
    position: relative;
    width: 1600px;
    height: 800px;
}