<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ols.ols_project.mapper.AcceptMapper">
    <select id="getSystemByAcceptId" resultType="com.ols.ols_project.model.entity.AcceptEntity">
        select
            id,
            task_id,
            user_id,
            accept_time,
            finish_time,
            state,
            url,
            ext1,
            ext2,
            ext3
        from
            ols_accept
        where
            id=#{id}
    </select>
    <select id="getUserId" resultType="Long">
        select user_id from ols_accept where id=#{acceptId}
    </select>
    <select id="getPersonalAcceptByUserId" resultMap="monthAndCountMap">
        select
        <if test="state==0">
            DATE_FORMAT(accept_time, '%m') as month,
        </if>
        <if test="state==1">
            DATE_FORMAT(finish_time, '%m') as month,
        </if>
            count(1) as count
        from
            ols_accept
        where
            user_id = #{userId}
        <if test="state==0">
            and DATE_FORMAT(accept_time, '%Y')=#{year}
        </if>
        <if test="state==1">
            and DATE_FORMAT(finish_time, '%Y')=#{year}
        </if>
            and state = #{state}
            and type=1
        GROUP BY
        <if test="state==0">
            DATE_FORMAT(accept_time, '%m');
        </if>
        <if test="state==1">
            DATE_FORMAT(finish_time, '%m');
        </if>
    </select>

    <select id="getPersonalAcceptDocByUserId" resultMap="monthAndCountMap">
        select
        <if test="state==0">
            DATE_FORMAT(accept_time, '%m') as month,
        </if>
        <if test="state==1">
            DATE_FORMAT(ols_accept.finish_time, '%m') as month,
        </if>
        count(1) as count
        from
        ols_accept,ols_task
        where
        user_id = #{userId}
        <if test="state==0">
            and DATE_FORMAT(accept_time, '%Y')=#{year}
        </if>
        <if test="state==1">
            and DATE_FORMAT(ols_accept.finish_time, '%Y')=#{year}
        </if>
        and ols_accept.state = #{state}
        and ols_task.type = 0
        and ols_task.id=ols_accept.task_id
        GROUP BY
        <if test="state==0">
            DATE_FORMAT(accept_time, '%m');
        </if>
        <if test="state==1">
            DATE_FORMAT(ols_accept.finish_time, '%m');
        </if>
    </select>

    <update id="setAdoptState">
        update
          ols_accept
        set
          state=2
        where
          id=#{acceptId}
    </update>

    <update id="setNotAdoptState">
        update
            ols_accept
        set
            state=3
        where
            task_id=#{taskId}
    </update>
    <select id="getAcceptListByTaskId" resultMap="AcceptMap,total">
        select
            SQL_CALC_FOUND_ROWS id,
            user_id,task_id,accept_time,finish_time,state,url
        from
            ols_accept
        where
            task_id=#{taskId}
        <if test="end != 0">
            limit
            #{start},#{end};
        </if>
        <if test="end == 0">
            ;
        </if>
        SELECT FOUND_ROWS() as total;
    </select>

    <resultMap id="monthAndCountMap" type="com.ols.ols_project.model.MonthAndCount" >
        <id column="month" property="month"  />
        <result column="count" property="count" />
    </resultMap>
    <resultMap id="AcceptMap" type="com.ols.ols_project.model.entity.AcceptEntity" >
        <id column="id" property="id"  />
        <result column="user_id" property="user_id" />
        <result column="task_id" property="task_id" />
        <result column="accept_time" property="accept_time" />
        <result column="finish_time" property="finish_time" />
        <result column="state" property="state" />
        <result column="url" property="url" />
    </resultMap>
    <!--
    新建接收任务信息  程畅
    -->
    <insert id="createAccept">
        insert into ols_accept
        (id,user_id,task_id,accept_time,finish_time,state,url,
         ext1,ext2,ext3)
            value (#{id},#{user_id},#{task_id},#{accept_time},
            #{finish_time},#{state},#{url},#{ext1},#{ext2},#{ext3})
    </insert>
    <update id="adopt">
        update
            ols_accept
        set
            state=#{state}
        where
            id=#{id}
    </update>
    <!--
    数据库中查询accept表中内容   程畅
    -->
    <select id="getAcceptByTaskId" resultMap="acceptTaskMap,Total1">
        select ols_user.name as name,
               ols_accept.id as id,
               ols_accept.task_id as taskId,
               ols_accept.accept_time as acceptTime,
               ols_accept.finish_time as finishTime,
               ols_accept.state as state,
               ols_accept.url as url,
               ols_accept.ext1 as ext1,
               ols_accept.ext2 as ext2,
               ols_accept.ext3 as ext3
        from ols_accept,ols_user
        where task_id = #{taskId} and ols_accept.user_id=ols_user.id
        limit
          #{start},#{end};
        SELECT FOUND_ROWS() as total;
    </select>

    <resultMap id="acceptTaskMap" type="com.ols.ols_project.model.AcceptByTaskId" >
        <id column="id" property="id"  />
        <result column="name" property="name" />
        <result column="taskId" property="task_id" />
        <result column="acceptTime" property="accept_time" />
        <result column="finishTime" property="finish_time" />
        <result column="state" property="state" />
        <result column="url" property="url" />
        <result column="ext1" property="ext1" />
        <result column="ext2" property="ext2" />
        <result column="ext3" property="ext3" />
    </resultMap>
    <resultMap id="Total1" type="java.lang.Integer">
        <result column="total"/>
    </resultMap>
</mapper>