<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ols.ols_project.mapper.CreateTestDataMapper">
    <insert id="createTestDataForOlsUser"
            parameterType="com.ols.ols_project.model.UserEntity">
        insert into ols_user
          (name,birthday,password,sex,email,role,points)
        values
          (#{name},#{birthday},#{password},#{sex},#{email},#{role},#{points})
    </insert>
    <insert id="createTestDataForOlsTask"
            parameterType="com.ols.ols_project.model.TaskEntity">
        insert into ols_task
          (name,url,information,points,state,type,releasetime,finishtime)
        values
          (#{name},#{url},#{information},#{points},#{state},#{type},#{releasetime},#{finishtime})
    </insert>
</mapper>