<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ols.ols_project.mapper.CreateTestDataMapper">
    <insert id="createTestDataForOlsUser"
            parameterType="com.ols.ols_project.model.UserEntity">
        insert into ols_user
          (name,birthday,password,sex,email,role,points,ext1,ext2,ext3)
        values
          (#{name},#{birthday},#{password},#{sex},#{email},#{role},#{points},#{ext1},#{ext2},#{ext3})
    </insert>

    <insert id="createTestDataForOlsTask"
            parameterType="com.ols.ols_project.model.TaskEntity">
        insert into ols_task
          (
            name,
            url,
            information,
            points,
            state,
            type,
            release_time,
            finish_time,
            release_user_id,
            accepte_num,
            adopt_accepte_id
          )
        values
          (
            #{name},
            #{url},
            #{information},
            #{points},
            #{state},
            #{type},
            #{release_time},
            #{finish_time},
            #{release_user_id},
            #{accepte_num},
            #{adopt_accepte_id}
          )
    </insert>

    <insert id="createTestDataForOlsAccepte"
            parameterType="com.ols.ols_project.model.AccepteEntity">
        insert into ols_accepte
          (
            user_id,
            task_id,
            accept_time,
            finish_time,
            state,
            url,
            ext1,
            ext2,
            ext3
          )
        values
          (
            #{user_id},
            #{task_id},
            #{accept_time},
            #{finish_time},
            #{state},
            #{url},
            #{ext1},
            #{ext2},
            #{ext3}
          )
    </insert>

    <insert id="createTestDataForOlsUserOperationLog" parameterType="com.ols.ols_project.model.UserOperationLogEntity">
        insert into ols_user_operation_log
          (
            id,
            user_id,
            type,
            operation,
            time,
            ext1,
            ext2,
            ext3
          )
        values
          (
            #{id},
            #{user_id},
            #{type},
            #{operation},
            #{time},
            #{ext1},
            #{ext2},
            #{ext3}
          )
    </insert>
</mapper>