<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ols.ols_project.mapper.MessageMapper">
    <!--
    发布举报信息 赵莎
    -->
    <insert id="CreateMessage">
        insert into ols_message
        (id,user_id,task_id,message,ishandled,response,
          isfirst,type,ext2,ext3,create_time)
          value (#{id},#{user_id},#{task_id},#{message},
            #{ishandled},#{response},#{isfirst},
          #{type},#{ext2},#{ext3},#{create_time})
    </insert>
<!--
查询举报信息 赵莎
-->
    <select id="getAllMessage" resultMap="MessageMap,Total">
        select
        SQL_CALC_FOUND_ROWS id,
        user_id,
        task_id,
        message,
        ishandled,
        response,
        isfirst,
        type,
        ext2,
        ext3,
        create_time
        from
        ols_message
        <if test="searchInfo != ''">
            and user_id like '%${searchInfo}%'
        </if>
        <choose>
            <when test="queryInfo == 'noHandled'">
                and ishandled like '0'
            </when>
            <when test="queryInfo == 'isHandled'">
                and ishandled like '1'
            </when>
        </choose>
        <if test="queryInfo == 'timeUp'">
            ORDER BY create_time
        </if>
        <if test="queryInfo == 'timeDown'">
            ORDER BY create_time DESC
        </if>
        limit
          #{start},#{end};
      SELECT FOUND_ROWS() as total;
    </select>
    <insert id="replyMessage">
        insert into ols_message
        (id,user_id,task_id,message,ishandled,response,
         isfirst,type,ext2,ext3,create_time)
            value (#{id},#{user_id},#{task_id},#{message},
            #{ishandled},#{response},#{isfirst},
            #{type},#{ext2},#{ext3},#{create_time})
    </insert>
    <resultMap id="MessageMap" type="com.ols.ols_project.model.entity.MessageEntity" >
        <id column="id" property="id"  />
        <result column="user_id" property="user_id" />
        <result column="task_id" property="task_id" />
        <result column="message" property="message" />
        <result column="ishandled" property="ishandled" />
        <result column="response" property="response" />
        <result column="isfirst" property="isfirst" />
        <result column="type" property="type" />
        <result column="ext2" property="ext2" />
        <result column="ext3" property="ext3" />
        <result column="create_time" property="create_time" />
    </resultMap>
    <resultMap id="Total" type="java.lang.Integer">
        <result column="total"/>
    </resultMap>

    <select id="getmessage" resultMap="monthAndCountMap">
        select
        <if test="type==0">
            DATE_FORMAT(create_time, '%m') as month,
        </if>
        <if test="type==1">
            DATE_FORMAT(create_time, '%m') as month,
        </if>
        count(1) as count
        from
        ols_message
        where
              1=1
        <if test="type==0">
            and DATE_FORMAT(create_time, '%Y')=#{year}
        </if>
        <if test="type==1">
            and DATE_FORMAT(create_time, '%Y')=#{year}
        </if>
        and  type = #{type}
        GROUP BY
        <if test="type==0">
            DATE_FORMAT(create_time, '%m');
        </if>
        <if test="type==1">
            DATE_FORMAT(create_time, '%m');
        </if>
    </select>

    <resultMap id="monthAndCountMap" type="com.ols.ols_project.model.MonthAndCount" >
        <id column="month" property="month"  />
        <result column="count" property="count" />
    </resultMap>
</mapper>