<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ols.ols_project.mapper.MessageMapper">
    <!--
    发布举报信息 赵莎
    -->
    <insert id="CreateMessage">
        insert into ols_messeage
        (id,user_id,task_id,message,ishandled,response,
          isfirst,ext1,ext2,ext3)
          value (#{id},#{id},#{user_id},#{task_id},#{message},
            #{ishandled},#{response},#{isfirst},
          #{ext1},#{ext2},#{ext3})
    </insert>
<!--
查询举报信息 赵莎
-->
    <select id="getAllMessage" resultMap="MessageMap,Total">
        select
        SQL_CALC_FOUND_ROWS id,
        user _id,
        task_id,
        message,
        ishandled,
        response,
        isfirst,
        ext1,
        ext2,
        ext3,
        create_time
        from
        ols_message
        order by create_time desc
        limit
          #{start},#{end};
      SELECT FOUND_ROWS() as total;
    </select>
    <resultMap id="MessageMap" type="com.ols.ols_project.model.entity.MessageEntity" >
        <id column="id" property="id"  />
        <result column="user_id" property="user_id" />
        <result column="task_id" property="task_id" />
        <result column="message" property="message" />
        <result column="ishandled" property="ishandled" />
        <result column="response" property="response" />
        <result column="isfirst" property="isfirst" />
        <result column="ext1" property="ext1" />
        <result column="ext2" property="ext2" />
        <result column="ext3" property="ext3" />
        <result column="create_time" property="create_time" />
    </resultMap>

    <resultMap id="Total" type="java.lang.Integer">
        <result column="total"/>
    </resultMap>

</mapper>