<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ols.ols_project.mapper.TaskMapper">
    <select id="getImageListByTaskId" resultType="java.lang.String">
        select url from ols_task where id = #{taskId}
    </select>

    <select id="getAccepteImageListByAccepteId" resultType="com.ols.ols_project.model.AcceptTask">
        select
           ols_task.id as ols_task_id,
           name,
           ols_task.url as ols_task_url,
           information,
           points,
           ols_task.state as ols_task_state,
           type,
           ols_task.finish_time as ols_task_finish_time,
           release_time,
           release_user_id,
           accepte_num,
           adopt_accepte_id,
           ols_accepte.id as ols_accept_id,
           user_id,
           accept_time,
           ols_accepte.finish_time as ols_accept_finish_time,
           ols_accepte.state as ols_accepte_state,
           ols_accepte.url as ols_accepte_url
        from
          ols_task,ols_accepte
        where
          ols_task.id = ols_accepte.task_id
          and ols_accepte.id = #{accepteId}
    </select>

    <select id="getAccepteTaskInfoByAcceptId" resultType="java.lang.String">
        select
          id,
          user_id,
          task_id,
          accept_time,
          finish_time,
          state,
          url,
          ext1,
          ext2,
          ext3
        from
          ols_accepte
        where
          id=#{accepteId}
    </select>

    <update id="storeImageLabelInfoByAccepteId" parameterType="com.ols.ols_project.model.AccepteEntity">

    </update>
</mapper>