<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ols.ols_project.mapper.TaskMapper">
    <select id="getImageListByTaskId" resultType="java.lang.String">
        select url from ols_task where id = #{taskId}
    </select>

    <select id="getAccepteImageListByAccepteId" resultType="com.ols.ols_project.model.AcceptTaskForTaskInfo">
        select
           ols_task.id as ols_task_id,
           name,
           ols_task.url as ols_task_url,
           information,
           points,
           ols_task.state as ols_task_state,
           type,
           ols_task.finish_time as ols_task_finish_time,
           release_time,
           release_user_id,
           accept_num,
           adopt_accept_id,
           ols_accept.id as ols_accept_id,
           user_id,
           accept_time,
           ols_accept.finish_time as ols_accept_finish_time,
           ols_accept.state as ols_accept_stat,
           ols_accept.url as ols_accept_url
        from
          ols_task,ols_accept
        where
          ols_task.type=1
          and ols_task.id = ols_accept.task_id
          and ols_accept.id = #{acceptId}
    </select>

    <select id="getAccepteTaskInfoByAcceptId" resultType="com.ols.ols_project.model.entity.AccepteEntity">
        select
          id,
          user_id,
          task_id,
          accept_time,
          finish_time,
          state,
          url,
          ext1,
          ext2,
          ext3
        from
          ols_accept
        where
          id=#{acceptId}
    </select>

    <update id="storeImageLabelInfoByAccepteId">
      update
        ols_accept
      set
        url=#{url}
      where
        id=#{acceptId}
    </update>

    <select id="getNotCheckedTask" resultMap="TaskMap">
        SELECT
            id,
            name,
            url,
            information,
            points,
            state,
            type,
            release_time,
            finish_time,
            release_user_id,
            accept_num,
            adopt_accept_id,
            ext1,
            ext2,
            ext3
        from
            ols_task
        where
            ext2 like '${userId}'
            and state = 4
    </select>

    <update id="setNotCheckedTaskForUser">
        update
          ols_task
        set
          ext2 = '${userId}'
        where
          state = 4
          and ext2 is null
        limit
          #{count}
    </update>

    <select id="getTaskInfoByTaskId" resultType="com.ols.ols_project.model.entity.TaskEntity">
        select
          id,
          name,
          url,
          information,
          points,
          state,
          type,
          release_time,
          finish_time,
          release_user_id,
          accept_num,
          adopt_accept_id,
          ext1,
          ext2,
          ext3
        from
          ols_task
        where
          id = #{taskId}
    </select>

    <insert id="insAcceptTask" parameterType="com.ols.ols_project.model.entity.AccepteEntity">
        insert into ols_accept
          (
            id,
            user_id,
            task_id,
            accept_time,
            finish_time,
            state,
            url,
            ext1,
            ext2,
            ext3
          )
        values
          (
            #{id},
            #{user_id},
            #{task_id},
            #{accept_time},
            #{finish_time},
            #{state},
            #{url},
            #{ext1},
            #{ext2},
            #{ext3}
          )
    </insert>

    <select id="selAcceptNumOfTask" resultType="int">
        select
          accept_num
        from
          ols_task
        where
          id=#{taskId}
    </select>

    <update id="updAcceptNumOfTask">
        update
          ols_task
        set
          accept_num=#{acceptNum}
        where
          id=#{taskId}
    </update>

    <update id="taskPassOrNotPassAudits">
        update
          ols_task
        set
          state =
        <if test="operation == 'yes'">
            5
        </if>
        <if test="operation == 'no'">
            6
        </if>
        where
          id=#{taskId}
    </update>

    <insert id="insJudge" parameterType="com.ols.ols_project.model.entity.JudgeEntity">
        insert into
          ols_judge(
              id,
              user_id,
              task_id,
              ispassed,
              isfirst,
              message,
              judge_time,
              ext1,
              ext2,
              ext3
            )
        values
          (
            #{id},
            #{user_id},
            #{task_id},
            #{ispassed},
            #{isfirst},
            #{message},
            #{judge_time},
            #{ext1},
            #{ext2},
            #{ext3}
          )
    </insert>

    <select id="selFinishCheckTaskByUserId" resultMap="finishCheckTaskMap,total">
        SELECT
        SQL_CALC_FOUND_ROWS ols_task.id,
        ols_task.name as task_name,
        release_time,
        release_user_id,
        ols_judge.id as judge_id,
        user_id,
        task_id,
        ispassed,
        message,
        judge_time,
        ols_user.id,
        ols_user.name as release_user_name
        from
        ols_task,ols_judge,ols_user
        where
        task_id=ols_task.id
        and release_user_id=ols_user.id
        and user_id=#{userId}
        <if test="searchInfo != ''">
            and (ols_task.name like '%${searchInfo}%'
            or ols_user.name like '%${searchInfo}%')
        </if>
        <choose>
            <when test="queryInfo == 'passed'">
                and ispassed = 1
            </when>
            <when test="queryInfo == 'notPassed'">
                and ispassed = 0
            </when>
        </choose>
        <if test="queryInfo == 'timeUp'">
            ORDER BY judge_time
        </if>
        <if test="queryInfo == 'timeDown'">
            ORDER BY judge_time DESC
        </if>
        limit
        #{start},#{end};
        SELECT FOUND_ROWS() as total;
    </select>

    <update id="updExt1">
        update
          ols_task
        set
          ext1=#{ext1}
        where
          id=#{taskId}
    </update>

    <update id="updAcceptState">
        update
          ols_accept
        set
          state=1
        where
          id=#{acceptId}
    </update>

    <resultMap id="TaskMap" type="com.ols.ols_project.model.entity.TaskEntity" >
        <id column="id" property="id"  />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="information" property="information" />
        <result column="points" property="points" />
        <result column="state" property="state" />
        <result column="type" property="type" />
        <result column="release_time" property="release_time" />
        <result column="finish_time" property="finish_time" />
        <result column="release_user_id" property="release_user_id" />
        <result column="accept_num" property="accept_num" />
        <result column="adopt_accept_id" property="adopt_accept_id" />
        <result column="ext1" property="ext1" />
        <result column="ext2" property="ext2" />
        <result column="ext3" property="ext3" />
    </resultMap>

    <resultMap id="finishCheckTaskMap" type="com.ols.ols_project.model.FinishCheckTask" >
        <id column="task_id" property="taskId"  />
        <result column="task_name" property="taskName" />
        <result column="release_time" property="releaseTime" />
        <result column="release_user_name" property="releaseUserName" />
        <result column="judge_id" property="judgeId" />
        <result column="ispassed" property="isPassed" />
        <result column="message" property="message" />
        <result column="judge_time" property="judgeTime" />
    </resultMap>

    <resultMap id="total" type="java.lang.Integer">
        <result column="total"/>
    </resultMap>

    <!--
	    anthour:  王金鹏
 	    date:     2020/3/21 22:39
    -->
    <insert id="creatTask" parameterType="com.ols.ols_project.model.entity.TaskEntity">
        insert into ols_task
        (
            id,
            name,
            url,
            information,
            points,
            state,
            type,
            release_time,
            finish_time,
            release_user_id,
            accept_num,
            adopt_accept_id
        )
        values
        (
            #{id},
            #{name},
            #{url},
            #{information},
            #{points},
            #{state},
            #{type},
            #{release_time},
            #{finish_time},
            #{release_user_id},
            #{accept_num},
            #{adopt_accept_id}
        )
    </insert>
    <select id="getAllTask" resultMap="TaskMap,total">
        select
            SQL_CALC_FOUND_ROWS id,
            name,
            url,
            information,
            points,
            state,
            type,
            finish_time,
            release_time,
            release_user_id,
            accept_num,
            adopt_accept_id,
            ext1,
            ext2,
            ext3
        from
            ols_task
        where
            1=1
            <if test="searchInfo != ''">
                and (ols_task.name like '%${searchInfo}%')
            </if>
            <choose>
                <when test="query == 'needlable'">
                    and ols_task.state = 5
                </when>
                <when test="query == 'adopted'">
                    and ols_task.state = 1
                </when>
            </choose>
            <choose>
                <when test="queryInfo == 'doc'">
                    and type=0
                </when>
                <when test="queryInfo == 'img'">
                    and type=1
                </when>
                <when test="queryInfo == ''">
                </when>
            </choose>
            <choose>
                <when test="field == ''">
                    ORDER BY release_time
                </when>
                <when test="field == 'points'">
                    ORDER BY points
                </when>
                <when test="field == 'type'">
                    ORDER BY type
                </when>
                <when test="field == 'release_time'">
                    ORDER BY release_time
                </when>
                <when test="field == 'accept_num'">
                    ORDER BY accept_num
                </when>
                <when test="field == 'finish_time'">
                    ORDER BY finish_time
                </when>
                <when test="field == 'ext1'">
                    ORDER BY ext1
                </when>
                <when test="field == 'finish_time'">
                    ORDER BY finish_time
                </when>
            </choose>
            <choose>
                <when test="order == 'desc'">
                    DESC
                </when>
                <when test="order == ''">
                    DESC
                </when>
                <when test="order == 'ass'">
                    ASC
                </when>
            </choose>
            <if test="end != 0">
                limit
                #{start},#{end};
            </if>
            <if test="end == 0">
            ;
            </if>
        SELECT FOUND_ROWS() as total;
    </select>
</mapper>